<div class="form-container">
      <% if(errors.length > 0) { %>
        <div class="errors">
            <% errors.forEach(error => {  %>
            <span class="error"><%= error.msg %> <br> </span>
            <% }) %>
        </div>
        <% } %>
    
<form action="/register" method="POST">
  <div class="group">
    <h4 class="pt-4 text-center">Create new account</h4>
  </div>
  <div class="group">
    <label for="Name">Name</label> <br />
    <input type="text" name="name" id="name"  class="control" placeholder="Name" value=<% if(inputs){ %>
      <%= inputs.name %> <% } %>>
  </div>

  <div class="group">
    <label for="Email">Email</label> <br />
    <input
      type="email"
      name="email"
      id="email"
      class="control"
      placeholder="Enter your email"
      value=<% if(inputs){ %>
        <%= inputs.email %> <% } %>>
  </div>

  <div class="group">
    <label for="Password">Password</label> <br />
    <input
      type="password"
      name="password"
      id="password"
      class="control"
      placeholder="Enter your password"
      value=<% if(inputs){ %>
        <%= inputs.password%> <% } %>>
  </div>
  <br />

  <div class="group">
    <input type="submit" class="register_btn" value="REGISTER" >
  </div>
</form>
</div>