.nav-link {
  font-size: 25px;
  margin-right: 25px;
}
.control {
  padding: 13px;
  background-color: rgba(219, 211, 211, 0.5);
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  border-left: 5px solid rgb(30, 161, 58);
}
.group{
  padding-left: 20px;
  padding-right: 20px;

}
label {
  color: rgba(179, 175, 175, 0.733);
  font-size: 20px;
}
.form-container {
  margin-top: 60px;
  box-shadow: 1px 2px 10px rgba(209, 206, 206, 0.438);
  margin-bottom: 10px;
}
.register_btn {
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 22px;
  background: linear-gradient(
    to right,
    rgb(43, 199, 43),
    rgba(194, 194, 25, 0.911)
  );
}

.errors{
  width: 100%;
  padding: 14px 18px;
  background-color: rgba(243, 153, 158, 0.87); 
  border-left: 6px solid  rgba(92, 35, 35, 0.479) ;
  margin-bottom: 5px;
}
.error{
  color: rgb(65, 62, 62);
  font-size: 17px;
  margin-bottom: 4px;
  font-weight: bold;
}

.alert-success{
  width: 100%;
  padding: 14px 18px;
  background-color: rgba(209, 93, 89, 0.972); 
  border-left: 5px solid rgb(40, 189, 72);
  margin-bottom: 5px;
  color: rgb(15, 197, 15);
  font-size: 15px;
  font-weight: bold;
}
.first_Char{
  text-align: center;
  font-size: 40px;
  padding-top: 7px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient( to right, rgb(43, 199, 43), rgba(194, 194, 25, 0.911))
}
.name_email{
  text-align: center;
  margin-top: 20px;        
  font-size: 20px;        
  font-weight: bold;  
  color: grey;      
  padding-bottom:100px;     
}
.profile_desigon{
  box-shadow: 0 16px 10px 0 rgba(221, 215, 215, 0.637);
  padding: 10px;
  padding-top: 50px;
  margin-top: 50px;
  border-bottom: 6px solid rgb(58, 172, 58);
}


.postFormContainer {
    width: 100%;
    margin-top: 10px;
}

#imageLabel {
  display: none;
}
.fileLabel {
  width: 100%;
  padding: 13px 11px;
  border: 2px solid rgb(44, 167, 44);
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  outline:none;
  overflow: hidden;
  color: rgb(67, 206, 67);
  font-weight: bold;
}

.banner_design{
  /* background-image: url('../img/blog_banner.jpg'); */
  background-image:linear-gradient(rgba(31, 30, 30, 0.678),rgba(22, 21, 21, 0.644)), url('../img/blog_banner.jpg');
  /* background-position: center top; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 8px;
  padding-top: 120px;
}
.msg{
  margin-top: 5px;
  border-left: 4px solid rgb(37, 180, 37);
}
.logout_btn{
  background-color: rgb(34, 184, 34);
  padding: 8px 20px 9px 20px;
  border-radius: 5px;
  border:  none;
  color: white;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}
.link{
  text-decoration: none;
  font-size:17px;
}
.bg_design{
  background-color: rgba(240, 232, 232, 0.89);
}
.border_hor{
  background-color: white;  
  border-bottom: 1px solid rgb(201, 200, 200);
  border-radius: 2px;
  padding: 15px;
  /* height: 300px; */
}
.title_link{
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
.first_user_ch{
  float: left;
  font-size: 20px;
  padding-top: 7px;
  margin-right: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
}
.body_img{
  width: 100%;
  height: 240px;
  margin-top: 20px;
}

.pagination{

  margin: 20px 0;
  justify-content: center;
  
}
.pagination ul{
  display: flex;
  list-style: none;
}

.pagination ul li a{
   margin: 20px;
   padding-top: 8px;
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: none; */
  /* outline: none; */
  color: white;
  font-size: 20px;
  background: linear-gradient(
    to right,
    rgb(43, 199, 43),
    rgba(194, 194, 25, 0.911)
  );
  border: 1px solid transparent ;
}

.prev{
  font-size: 12px !important; 
}
.active{
  background: transparent!important;
  border: 1px solid rgb(34, 165, 34)!important ;
  color: rgb(38, 153, 38)!important;
}